<div class="container" ng-controller="HomeController as HomeCtrl" ng-init="userState()">
    <div class="large-3 large-centered columns">
        <div class="login-box">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">Home Page</h2>
                    <p class="text-center">You're logged in!!</p>
                    <p class="text-center">User {{ sessionData }}</p>
                    <p class="text-center">JESSIONID {{ sessionId }}</p>
                    <button ng-controller="LogoutController as LogoutCtrl"
                            class="button expand" ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <button ng-click="val()">GetAllIssues</button>
    <button ng-click="getIdF()">GetID</button>

    <form name="getAllIssues" action="api/issues/all" method="get">
        <input type="submit" value="GET">
    </form>
</div>