<div class="login" ng-controller="loginController as loginCtrl" ng-init="getUser()">
    <div class="large-3 large-centered columns">
        <div class="login-box">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">
                        UserAuth
                    </h2>
                    <p>Please log in or create an account</p>
                    <form>
                        <div class="row">
                            <div class="large-12 columns">
                                <input ng-model="username" type="text"
                                       id="inputUsername" placeholder="Username...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <input ng-model="password" type="password"
                                       id="inputPassword" placeholder="Password...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-5 columns">
                                <button class="button expand" ng-click="login()">Login</button>
                            </div>
                            <div class="large-7 columns">
                                <button class="button expand" ng-click="signup()">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <h3 ng-show="showUsernameFailed">
        Bad Credentials entered for entered user {{ usernameFailed }}</h3>

    <button ng-click="value()">SetValue</button>
    <button ng-click="val()">GetAllIssues</button>

</div>

<form name="loginForm" action="api/user/login" method="post">
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit" value="SSS"/>
</form>
<form name="getAllIssues" action="api/issues/all" method="get">
    <input type="submit" value="GET">
</form>

<div class="issueById">
    <form name="inputForm" action="api/issues/get/">
        <input type="text" name="'{id}'"/>
    </form>

</div>