<div class="container" ng-controller="IssueController as IssueCtrl" ng-init="checkValidity()">
    <div class="issueBox">
        <h1>Issue</h1>
        <button ng-click="getAllIssues()">Get All Issues</button>
        <button ng-click="createNewIssue()">New Issue</button>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assignee</th>
                <th>Description</th>
                <th>Category</th>
                <th>Subject</th>
            </tr>
            <tr ng-repeat="issue in data">
                <td ng-repeat="i in issue">{{i}}</td>
            </tr>
        </table>
    </div>
</div>