<div class="container" ng-controller="IssueController as IssueCtrl" ng-init="checkValidity()">
    <div class="issueBox">
        <h1>Issue</h1>
        <button ng-click="getAllIssues()">Get All Issues</button>
        <button ng-click="createNewIssue()">New Issue</button>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Priority</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Assignee</th>
                <th>Category</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Issue created on</th>
            </tr>
            <tr ng-repeat="issue in data[0]">
                <td>
                    {{ issue.id }}
                </td>
                <td>
                    <span editable-select="issue.priorityId" e-name="priority" e-form="rowform" e-ng-options="p.id as p.name for p in priority">
                        {{ showPriority(issue) }}
                   </span>
                </td>
                <td>
                    <span editable-text="issue.subject" e-name="subject" e-form="rowform">
                        {{ issue.subject }}
                    </span>
                </td>
                <td>
                    <span editable-text="issue.description" e-name="description" e-form="rowform">
                        {{ issue.description }}
                    </span>
                </td>
                <td>
                    <span editable-select="issue.assigneeId" e-name="assignee" e-form="rowform" e-ng-options="a.id as a.name for a in assignee">
                        {{ showAssignee(issue) }}
                   </span>
                </td>
                <td>
                    <span editable-select="issue.categoryId" e-name="category" e-form="rowform" e-ng-options="c.id as c.name for c in category">
                            {{ showCategory(issue) }}
                    </span>
                </td>
                <td>
                    <span editable-select="issue.statusId" e-name="status" e-form="rowform" e-ng-options="s.id as s.name for s in status">
                        {{ showStatus(issue) }}
                   </span>
                </td>
                <td>
                    {{ issue.createdBy }}
                </td>
                <td>
                    {{ issue.issueCreatedOn }}
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="updateIssue($data, issue.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == issue">
                        <button type="submit" ng-click="" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>

                    <div class="buttons" ng-show="!rowform.$visible && userRole == 1">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="removeIssue(issue.id)">del</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>