<div class="container" ng-controller="IssueController">
    <div class="large-5 large-centered columns">
        <div class="issue-box">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">
                        Create new issue
                    </h2>
                    <p class="text-center">
                        Please fill in issue information
                    </p>
                    <form>
                        <table>
                            <tr>
                                <th>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="test in testData">{{ test.test1 }}</li>
                                        </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Prio
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Prio</a></li>
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">JavaScript</a></li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="large-9 large-centered columns">
                                <input type="text" name="description" placeholder="Description" ng-model="description"/>
                                <button class="center-block" ng-click="createIssue()">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>