<!DOCTYPE html>
<html ng-app="issueTracker" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker LAB Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.9/ngStorage.js"></script>
    <script src="vendor/angular-cookies.js"></script>
    <script src="scripts/app.js"></script>
    <script src="vendor/jquery-2.1.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.js"></script>
    <script src="authentication/services.js"></script>
    <script src="authentication/controllers.js"></script>
    <script src="home/controllers.js"></script>

    <script>
        angular.module("issueTracker", ["ngStorage", "ngCookies"])
                .constant("dataUrl", "http://localhost:8080/issueTracker/api/user/login")
                .config(['$httpProvider', function($httpProvider) {
                    $httpProvider.defaults.withCredentials = true;

                }])
                .controller("defaultCtrl", ['$cookies', '$scope', '$http', '$rootScope',
                    '$location', '$localStorage', 'dataUrl',
                        function($cookies, $scope, $http, $rootScope, $location, $localStorage, dataUrl) {

                            $scope.save = function() {
                                $localStorage.username = $scope.username;
                            };

                            $scope.load = function() {
                                $scope.data = $localStorage.username;
                            };

                        var usernameVal = $scope.username;
                        $rootScope.usernameS = usernameVal;

                    $scope.showLoginButton = true;
                    $scope.login = function() {
                        var input = {"username": $scope.username, "password": $scope.password};


                        $http.post(dataUrl, input).then(
                                function success() {
                                    usernameVal = save();
                                    usernameVal = load();
                                    $scope.showLoginButton = false;
                                 },
                                function error(response) {
                                    var httpStatusCode = response.status;
                                    if (httpStatusCode === 403) {
                                        $rootScope.usernameData = "Bad";
                                        $scope.showLoginButton = true;
                                    }
                                }
                        )

                    };
                    $scope.cookieId = $cookies.get('JSESSIONID');
                    var pData = $cookies.get('JSESSIONID');
                    localStorage.setItem("cookieData", pData);
                    localStorage.setItem("usernameData1", usernameVal);
                    var pDataVal = localStorage.getItem("cookieData");
                    var pUsernameVal = localStorage.getItem("usernameData1");
                    $rootScope.pUsernameDataC = pUsernameVal;
                    $rootScope.pDataValC = pDataVal;
                }]);
    </script>

</head>
<body>
    <div class="login" ng-controller="defaultCtrl">
        <div class="username">
            <input name="username" placeholder="username" ng-model="username"/>
        </div>

        <div class="password">
            <input name="password" type="password" placeholder="password" ng-model="password"/>
        </div>

        <button ng-click="login()" ng-show="showLoginButton">Login</button>
        <h3>Hello {{ pUsernameDataC }}</h3>
        <h3>CookieId {{ cookieId }}</h3>
        <h3>pDataValC {{ pDataValC }}</h3>
     </div>

    <form name="loginForm" action="api/user/login" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="SSS"/>
    </form>
    <form name="getAllIssues" action="api/issues/all" method="get">
        <input type="submit" value="GET">
    </form>

    <div class="issueById">
        <form name="inputForm" action="api/issues/get/">
            <input type="text" name="'{id}'"/>
        </form>

    </div>
</body>
</html>