<div class="login" ng-controller="LoginController as LoginCtrl">
    <div class="large-3 large-centered columns">
        <div class="login-box">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">
                        Login
                    </h2>
                    <p class="text-center">Please log in or create an account</p>
                    <form name="loginForm" ng-submit="login()" novalidate> <!-- novalidate prevents HTML5 validation since the validating will be done here -->

                        <!-- USERNAME FIELD -->
                        <div class="row">
                            <div class="large-12 columns"
                                 ng-class="{ 'has-error' : loginForm.username.$invalid &&
                                    !loginForm.username.$pristine }">
                                <input type="text" name="username" placeholder="Username..."
                                       ng-model="username" ng-minlength="3" ng-maxlength="10" required>
                                <span class="error" ng-show="loginForm.username.$error.minlength"
                                   >Username is too short min 3.</span>
                                <small class="error" ng-show="loginForm.username.$error.maxlength"
                                   >Username is too long, max 10.</small>
                            </div>
                        </div>

                        <!-- PASSWORD FIELD -->
                        <div class="row">
                            <div class="large-12 columns"
                                 ng-class="{ 'has-error' : loginForm.password.$invalid &&
                                    !loginForm.password.$pristine }">
                                <input type="password" name="password" placeholder="Password..."
                                       ng-model="password" ng-minlength="3" ng-maxlength="10" required>
                                <small class="error" ng-show="loginForm.password.$error.minlength"
                                   >Password is too short min 3.</small>
                                <small class="error" ng-show="loginForm.password.$error.maxlength"
                                   >Password is too long, max 10.</small>
                            </div>
                        </div>

                        <!-- BUTTONS -->
                        <div class="row">
                            <div class="large-5 columns">
                                <button type="submit" class="button expand" ng-disabled="loginForm.$invalid">Login</button>
                            </div>
                            <div class="large-7 columns">
                                <button class="button expand" ng-click="signup()">Create Account</button>
                            </div>
                        </div>
                    </form>
                    <!-- END LOGIN FORM -->

                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center" ng-show="showFailedMsg">
        Bad Credentials entered {{ usernameFailed }}</h3>
</div>

