<div class="login" ng-controller="LoginController as LoginCtrl">
    <div class="large-3 large-centered columns">
        <div class="login-box">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">
                        UserAuth
                    </h2>
                    <p class="text-center">Please log in or create an account</p>
                    <form name="">
                        <div class="row">
                            <div class="large-12 columns">
                                <input ng-model="username" type="text"
                                       id="inputUsername" placeholder="Username...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <input ng-model="password" type="password"
                                       id="inputPassword" placeholder="Password...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-5 columns">
                                <button class="button expand" ng-click="login()">Login</button>
                            </div>
                            <div class="large-7 columns">
                                <button class="button expand" ng-click="signup()">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center" ng-show="showFailedMsg">
        Bad Credentials entered {{ usernameFailed }}</h3>
</div>

