<div class="container" ng-controller="SignupController as SignupCtrl">
    <div class="large-5 large-centered columns">
        <div class="login-box">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">
                        Create Account
                    </h2>
                    <p class="text-center">
                        Please fill in account information
                    </p>

                    <!-- REGISTER FORM -->
                    <form name="registerUser" ng-submit="signupUser()" novalidate> <!-- novalidate prevents HTML5 validation since the validating will be done here -->
                       <!-- USERNAME FIELD -->
                        <div class="row">
                            <div class="large-9 large-centered columns"
                                 ng-class="{ 'has-error' : registerUser.username.$invalid &&
                                    !registerUser.username.$pristine }">
                                <input type="text" name="username" placeholder="Username"
                                       ng-model="username" ng-minlength="3" ng-maxlength="10" required>
                                <p ng-show="registerUser.username.$error.minlength"
                                   class="help-block">Username is too short min 3.</p>
                                <p ng-show="registerUser.username.$error.maxlength"
                                   class="help-block">Username is too long, max 10.</p>
                            </div>
                        </div>

                        <!-- PASSWORD FIELD -->
                        <div class="row">
                            <div class="large-9 large-centered columns"
                                 ng-class="{ 'has-error' : registerUser.password.$invalid &&
                                    !registerUser.password.$pristine }">
                                <input type="password" name="password" placeholder="Password"
                                       ng-model="password" ng-minlength="3" ng-maxlength="10" required>
                                <p ng-show="registerUser.password.$error.minlength"
                                   class="help-block">Password is too short min 3.</p>
                                <p ng-show="registerUser.password.$error.maxlength"
                                   class="help-block">Password is too long, max 10.</p>
                            </div>
                        </div>

                        <!-- EMAIL FIELD -->
                        <div class="row">
                            <div class="large-9 large-centered columns"
                                 ng-class="{ 'has-error' : registerUser.email.$invalid &&
                                    !registerUser.email.$pristine }">
                                <input type="email" name="email" placeholder="Email Address"
                                       ng-model="email" required>
                                <p ng-show="registerUser.email.$invalid && !registerUser.email.$pristine"
                                   class="help-block">Not a valid email address.</p>
                            </div>
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <div class="row">
                            <div class="large-4 large-centered columns">
                                <button type="submit" class="button expand" ng-disabled="registerUser.$invalid">Sign Up</button>
                            </div>
                        </div>
                    </form>
                    <!-- END REGISTER FORM -->

                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center" ng-show="showUserExistsMsg">
        User already exists, please try again.</h3>
</div>