.customValidation {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: -1rem;
    padding: 0.375rem 0.5625rem 0.5625rem;
    background: #f04124;
    color: #ffffff; }

.containerBox {
    height: 50%;
    margin-left: 33%;
    align-items: center;
}

.containerLeft {
    height: 200px;
    width: 200px;
    float: left;
}

.containerRight {
    margin-left: 15px;
    height: 200px;
    width: 400px;
    float: left;
}

.subjectBox {
    height: 30px;
    width: 400px;
}

.descriptionBox {
    height: 170px;
    width: 400px;
}

.box {
    padding-bottom: 0%;
}

.table {
    width: 100%
}
form[editable-form] > div {margin: 10px 0;}

.container {
    width: auto;
}

.issueBox {
    margin-left: 33%;
}
