span.error, small.error {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: -1rem;
    padding: 0.375rem 0.5625rem 0.5625rem;
    background: #f04124;
    color: #FFFFFF; }